<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa; /* м'який світлий сірий */
        }

        .navbar {
            background-color: #ffeeba; /* м'який пісочний колір */
        }

        .sidebar {
            background-color: #d8e2dc; /* м'який м'ятний колір */
            padding: 15px;
        }

        .content {
            margin-left: 250px; /* ширина Sidebar */
            padding: 15px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @await Component.InvokeAsync("Sidebar")
            </div>
            <div class="col-md-10">
                @await Component.InvokeAsync("Navbar")
                <main role="main" class="content">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>