<div>
    <a href="@Url.Action("SetLanguage", "Home", new { culture = "en-US", returnUrl = Context.Request.Path })">
        Eng
    </a>
    |
    <a href="@Url.Action("SetLanguage", "Home", new { culture = "uk-UA", returnUrl = Context.Request.Path })">
        Ua
    </a>
</div>
