<div class="collapse navbar-collapse" id="navbarResponsive">
	<ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
		<li class="nav-item"><a class="nav-link me-lg-3" href="@Url.Action("Index","Home")">Home</a></li>
		<li class="nav-item"><a class="nav-link" href="@Url.Action("Index","File")">Files</a></li>
		<li class="nav-item"><a class="nav-link" href="@Url.Action("Validator","Validator")">Validator</a></li>
	</ul>
	<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
		<span class="d-flex align-items-center">
			<svg class="bi" width="24" height="24" fill="blue">
				<use href="lib/bootstrap-icons/icons.svg#app"></use>
			</svg>
			<span class="small">Sign up for a course</span>
		</span>
	</button>
	@await Html.PartialAsync("_LanguageSwitcher")
</div>